{% extends 'food/base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App</title>
</head>
<body>
    {% block body %}
    <div>
            <div class="row" style="display: flex; justify-content: center; position: relative;" >
                <div class="col-md-7">
                    <img src="{{ item_gg.item_img }}" class="card"/>
                </div>
                <div class="col-md-7">
                    <ol>
                        <h1>{{ item_gg.item_name}}</h1>
                        <h2>{{ item_gg.item_desc}}</h2>
                        <h3>${{ item_gg.item_price}}</h3>
                     </ol>
                </div>

            </div>
            <a href="{% url 'food:delete_item' item_gg.id %}" class="btn btn-danger"><span>Delete item</span></a>
    </div>
    {% endblock %}
</body>
</html>